
html {
  background: url(../img/barbellrow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav {
  float: inherit;
  height: 120px;
  width: auto;
  background-color: #393939;
  margin-top: 40px;
}

.nav p {
  float: left;
  display: inline;
  width: 500px;
  height: auto;
  font:40px 'equipslablight', normal;
  padding: auto;
  margin-left: 10px;
  border-style: solid;
  border-color: #000;
}

.nav #inside {
  display: inline;
  width: 600px;
  float: right;
  list-style-type: none;
}

#inside li {
  float: right;
  display: inline;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left:15px;
  padding-right:15px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
  font:16px 'equipslablight', normal;
}

.header {
  position: relative;
  height: 100px;
  width: 1100px;
  background-color: #393939;
  margin: 100px auto auto auto;
}

.wrap {
  height: 800px;
  width: 1100px;
  margin: 0px auto auto auto;
  background-color:#444444;
}

#Column1 {
  float:left;
  height: 800px;
  width: 500px;
  background-color: #FFFFFF;
}

#Column2 h3 {
  display: inline-block;
  margin-left: 140px;
}

/*#Column2 .work {
  /*display: block;*/
  /*width: 500px;
  height: auto;
}*/*/

#Column2 .work p {
  font-size: 18px;
  font-family: sans-serif;
}
