*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  background: url(../img/barbellrow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  float: inherit;
  height: 120px;
  width: auto;
  background-color: #393939;
  margin-top: 40px;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}

.nav p {
  float: left;
  display: inline;
  width: 550px;
  padding: auto;
  margin-left: 20px;
  margin-bottom: 30px;
  font:40px 'equipslablight', normal;
}

.nav #inside {
  display: inline;
  width: 600px;
  float: right;
  list-style-type: none;
}

#inside li {
  float: right;
  display: inline;
  padding: auto;
  margin-right: 30px;
  margin-top: 30px;
  font:20px 'equipslablight', normal;
}

.header {
  position: relative;
  height: 100px;
  width: 1100px;
  background-color: #393939;
  margin: 100px auto 0px auto;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}

.header p{
  text-align: center;
  font:32px 'equipslablight', normal;
}

.wrap {
  height: 1000px;
  width: 1100px;
  margin: 0px auto auto auto;
  background-color:#AAAAAA;
}

#Column2 h3 {
  text-align: center;
  font:24px 'equipslablight', normal;
  margin-top: 100px;
}

#Column2 .work p {
  text-align: center;
  font:18px 'equipslablight', normal;
}

#image img {
  position: relative;
  float: left;
  margin: 0 15px 5px 0;
  border: solid 1px #bbb;
}

#image p {
  position: absolute;
  margin-top: 315px;
  margin-left: 170px;
}

.gallery {
  height: 100px;
  width: 1100px;
  background-color: #393939;
  margin: 210px auto 0px auto;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}

.gallery img {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}


.clearboth {
  clear: both;
}
