*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  background: url(../img/barbellrow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  float: inherit;
  height: 120px;
  width: auto;
  background-color: #EE7326;
  opacity: .7;
  margin-top: 40px;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}

.nav p {
  float: left;
  display: inline;
  width: 550px;
  padding: auto;
  margin-left: 20px;
  margin-bottom: 30px;
  font:40px 'equipslablight', normal;
}

.nav #inside {
  display: inline;
  width: 600px;
  float: right;
  list-style-type: none;
}

#inside li {
  float: right;
  display: inline;
  padding: auto;
  margin-right: 30px;
  margin-top: 30px;
  font:20px 'equipslablight', normal;
}

.header {
  position: relative;
  height: 100px;
  width: 1100px;
  background-color: #393939;
  margin: 100px auto 0px auto;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}

.header p{
  text-align: center;
  font:32px 'equipslablight', normal;
}

.wrap {
  position: relative;
  height: 1000px;
  width: 1100px;
  margin: 0px auto auto auto;
  background-color:#AAAAAA;
}

#Column2 h3 {
  text-align: center;
  font:24px 'equipslablight', normal;
  margin-top: 100px;
}

#Column2 .work p {
  text-align: center;
  font:18px 'equipslablight', normal;
}

#image img {
  position: relative;
  float: left;
  margin: 0 15px 5px 0;
  border: solid 1px #bbb;
}

#image p {
  position: absolute;
  margin-top: 315px;
  margin-left: 170px;
}

.gallery {
  position: absolute;
  height: 100px;
  width: 1100px;
  background-color: #393939;
  margin: 325px auto 0px auto;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}

.gallery img {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}

table {
  position: absolute;
  height: 75px;
  width: 250px;
  border-collapse: collapse;
  margin-left:670px;
  margin-right:auto;
  margin-top: 0px;
  }

th {
  border: 2px solid #393939;
  background-color: #EE7326;
  opacity: .7;
  padding: 5px;
  font-family: sans-serif;
  color: ##515A63;
}

td {
  padding: 5px;
  color: #5E5E51;
}

tr td:nth-child(5) {
  border-right: 2px solid #393939;
}

tr td:first-child {
  border-left: 2px solid #393939;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #EFEFEE;
  border-top: 2px solid #393939;
  border-bottom: 2px solid #393939;
}

/*tbody tr:last-child {
    border-bottom: 2px solid #393939;
}*/



.clearboth {
  clear: both;
}
